@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;600;700&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif;
}

body
{
  background: #E6E6E6;
}

header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  padding: 30px 100px;
  background: rgba(0,0,0,0.05);
  border-radius: 45px;
}

header .logo
{
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 2.3em;
  text-transform: uppercase;
  text-decoration: none;
}

header ul.navigation
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul.navigation li
{
  position: relative;
  list-style: none;
  margin-left: 40px;
}

header ul li a
{
  color: #fff;
  text-decoration: none;
}

.banner
{
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.banner .imgBox
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner .imgBox img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 0.5s;
  background-position: center;
}

.banner .imgBox img.active
{
  opacity: 1;
}

.controls
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 80px;
}

.controls li
{
  position: relative;
  width: 80px;
  height: 80px;
  background: rgba(0,0,0,0.05);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.controls li:hover
{
  background: #ffeb3b;
}

.controls li::before
{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-left: 3px solid #111;
  border-bottom: 3px solid #111;
  transform: rotate(45deg);
}

.controls li:nth-child(2)::before
{
  transform: rotate(225deg);
}

.contentBox
{
  position: absolute;
  bottom: 0;
  max-width: 700px;
}

.contentBox div
{
  display: none;
}

.contentBox div.active
{
  display: block;
  padding: 40px;
  padding-left: 100px;
  border-top-right-radius: 45px;
  background: rgba(0,0,0,0.3);
}

.contentBox div h2
{
  color: #fff;
  font-size: 2.3em;
}

.contentBox div p
{
  color: #fff;
  font-size: 1.1em;
}

.contentBox div a
{
  color: #111;
  font-size: 1.1em;
  display: inline-block;
  padding: 15px 35px;
  background: #fff;
  margin-top: 15px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border-radius: 45px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
